/*----DASHBOARD----*/
.dshbrd  {
    position: absolute;
    width: 1125px;
    height: auto;
    left: 220px;
    top: 75px;
    border-radius: 5px;
	-webkit-border-radius:10px;
	border:none;
	background:#E5E5E5;
	box-sizing:border-box;
}
.statistics{
    position:relative;
    width: 750px;
    height: auto;
    background: #C4C4C4;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}
.com_rating{
    position:relative;
    width: 750px;
    height: auto;
    background: #C4C4C4;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
}
.em-performance{
    position:relative;
    width: 750px;
    height: auto;
    background: #C4C4C4;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}
.com_rating .piechart {
    display: block;
    position: relative;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-image: conic-gradient(
        pink 70deg, 
        lightblue 0 235deg);
}
.com_rating ul{
    list-style-type: none;
    display: inline-block;
}
.com_rating li{
    display: flex;
    float: right;
    margin-left: 30px;
}

.notifications{
    position:absolute;
    top: 20px;
    left: 10px;
    width: 280px;
    height: 600px;;
    background: #C4C4C4;
    margin-left: 800px;
    padding: 10px;
    border-radius: 10px;
}
.notifications ul {
    list-style-type: none;
}
.notifications li {
    margin: 10px;
}
.notifications i {
    font-size: 25px;
    margin: 5px;
}
.notifications h4 {
    border-bottom: 2px solid red;
    text-align: center;
    font-size: 20px;
    margin: 5px;
}
.notifications a {
    color: black;
    text-align: left;
}

.graph {
	margin-bottom:1em;
  font:normal 100%/150%;
  font-family: poppins;
}

.graph tbody th {
	text-align:right;
}

@supports (display:grid) {

	@media (min-width:32em) {

		.graph {
			display:block;
            width:600px;
            height:200px;
		}


		.graph tbody {
			position:relative;
			display:grid;
			grid-template-columns:repeat(auto-fit, minmax(2em, 1fr));
			column-gap:2.5%;
			align-items:end;
			height:100%;
			margin:3em 0 1em 2.8em;
			padding:0 1em;
			border-bottom:2px solid rgba(0,0,0,0.5);
			background:repeating-linear-gradient(
				180deg,
				rgba(170,170,170,0.7) 0,
				rgba(170,170,170,0.7) 1px,
				transparent 1px,
				transparent 20%);
		}

		.graph tbody:before,
		.graph tbody:after {
			position:absolute;
			left:-3.2em;
			width:2.8em;
			text-align:right;
			font:bold 80%/120% arial,helvetica,sans-serif;
		}

		.graph tbody:before {
			content:"100%";
			top:-0.6em;
		}

		.graph tbody:after {
			content:"0%";
			bottom:-0.6em;
		}

		.graph tr {
			position:relative;
			display:block;
		}

		.graph tr:hover {
			z-index:999;
		}

		.graph th,
		.graph td {
			display:block;
			text-align:center;
		}

		.graph tbody th {
			position:absolute;
			top:-3em;
			left:0;
			width:100%;
			font-weight:normal;
			text-align:center;
      white-space:nowrap;
			text-indent:0;
			transform:rotate(-45deg);
		}

		.graph tbody th:after {
			content:"";
		}

		.graph td {
			width:50;
			height:100%;
			background:#F63;
			border-radius:0.5em 0.5em 0 0;
			transition:background 0.5s;
		}

		.graph tr:hover td {
			opacity:0.7;
		}

		
		.toggleGraph:checked + table td span,
		.graph tr:hover td span {
			width:4em;
			margin-left:-2em; 
			opacity:1;
		}



    


	}

} 