/*----DASHBOARD----*/
.content{
    position: absolute;
    width: 1125px;
    height: 1500px;
    left: 220px;
    top: 75px;
    border-radius: 5px;
	-webkit-border-radius:10px;
	border:none;
	background:whitesmoke;
	box-sizing:border-box;
}
.content .title{ 
    position:relative;
    text-align: center;
    border-radius:15px;
    font-weight:bold;
	font-size: 25px;
	padding:10px;
}
.content .inner-main{
    position: absolute;
    width: 820px;
    height: max-content;
    border-radius: 10px;
}
.content .inner-main .statistics,
.content .inner-main .com_rating,
.content .inner-main .em-performance{
    position: relative;
    width: 780px;
    height: auto;
    border-radius: 10px;
	margin-left: 20px;
	background:rgba(196, 196, 196, 0.6);
}

.content .main-side{
    position: absolute;
    left: 820px;
}
.content .main-side .title1{ 
    position:relative;
    text-align: center;
	border-radius:10px;
    padding: 10px;
    font-weight: bold;
    background:rgba(196, 196, 196, 0.5);
}
.content .inner-main h4{
	position:relative;
    text-align: center;
	border-radius:10px;
    padding: 10px;
    font-weight: bold;
	font-size: 15px;
    background:rgba(196, 196, 196, 0.5);
}
.content  .inner-event{
	position: absolute;
	top:20px;
    width: 300px;
    height: 600px;
    background:rgba(196, 196, 196, 0.6);
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.content .com_rating .piechart {
    display: block;
    position: relative;
	margin-top: 20px;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-image: conic-gradient(
        pink 70deg, 
        lightblue 0 235deg);
}
.content .com_rating ul{
    list-style-type: none;
    display: inline-block;
}
.content .com_rating li {
	float: left;
	margin-left: 32px;
}
.content .com_rating li .inner{
	margin-left: 50px;
	text-align: center;
}
.content .com_rating li .inner span{
	text-decoration: underline;
}
.content .inner-main .em-performance table{
	margin-left: 135px;
}
.content .inner-main .em-performance th{
	text-decoration: underline;
	padding-right:100px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.content .inner-main .em-performance td{
	padding-right:100px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.content .inner-event ul li input[type="text"]{
	height: 20px;
	width: 200px;
	border-radius: 5px;
	background-color: transparent;
	border:transparent;
}
.content .inner-event ul li {
	border-bottom: 1px solid gray;
	width: 230px;
}
.content .statistics .graph tbody th {
	text-align:right;
}

@supports (display:grid) {

	@media (min-width:32em) {

		.graph {
			display:block;
            width:750px;
            height:200px;
		}


		.graph tbody {
			position:relative;
			display:grid;
			grid-template-columns:repeat(auto-fit, minmax(2em, 1fr));
			column-gap:2.5%;
			align-items:end;
			height:100%;
			margin:3em 0 1em 2.8em;
			padding:0 1em;
			border-bottom:2px solid rgba(0,0,0,0.5);
			background:repeating-linear-gradient(
				180deg,
				rgba(170,170,170,0.7) 0,
				rgba(170,170,170,0.7) 1px,
				transparent 1px,
				transparent 20%);
		}

		.graph tbody:before,
		.graph tbody:after {
			position:absolute;
			left:-3.2em;
			width:2.8em;
			text-align:right;
			font:bold 80%/120% arial,helvetica,sans-serif;
		}

		.graph tbody:before {
			content:"100%";
			top:-0.6em;
		}

		.graph tbody:after {
			content:"0%";
			bottom:-0.6em;
		}

		.graph tr {
			position:relative;
			display:block;
		}

		.graph tr:hover {
			z-index:999;
		}

		.graph th,
		.graph td {
			display:block;
			text-align:center;
		}

		.graph tbody th {
			position:absolute;
			top:-3em;
			left:0;
			width:100%;
			font-weight:normal;
			text-align:center;
      white-space:nowrap;
			text-indent:0;
			transform:rotate(-45deg);
		}

		.graph tbody th:after {
			content:"";
		}

		.graph td {
			width:50;
			height:100%;
			background:#F63;
			border-radius:0.5em 0.5em 0 0;
			transition:background 0.5s;
		}

		.graph tr:hover td {
			opacity:0.7;
		}

		.toggleGraph:checked + table td span,
		.graph tr:hover td span {
			width:4em;
			margin-left:-2em; 
			opacity:1;
		}

	}
} 
